<!-- BEGIN footer -->
<footer class="p-4 mt-4 bg-light border-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mb-4"><i class="bi bi-brightness-high"></i> Summer Framework</div>
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">Tutorial:
                        <a target="_blank" href="https://www.liaoxuefeng.com/wiki/1539348902182944">How to Build Summer Framework
                            <i class="bi bi-box-arrow-up-right"></i></a>
                    </li>
                    <li class="mb-2">Designed and built by
                        <a target="_blank" href="https://github.com/michaelliao">Michael Liao
                            <i class="bi bi-box-arrow-up-right"></i></a>.
                    </li>
                    <li class="mb-2">Check the source code on
                        <a target="_blank" href="https://github.com/michaelliao/summer-framework">GitHub
                            <i class="bi bi-box-arrow-up-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- END footer -->
